.assign-item > div > div {
	border-right: 1px solid #ddd;
}
.assign-item > div > div:last-child {
	border-right: none;
}
.list-group > button:first-child {
	background-color: #343a40
}
.assign-title button {
	font-size: 20px;
	display: inline;
	height: auto;
	width: auto;
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}